<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
	  <class name="test.SwagLabLoginTest"/>
      <class name="test.FooterTest"/>
      <class name="test.EndToEndTest"/>
      <class name="test.LogOutTest"/>
      <class name="test.AddToCartTest"/>
      <class name="test.ProductPageTest"/>
      <class name="test.OverviewTest"/>
      <class name="test.AboutTest"/>
      <class name="test.CheckoutTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
